# Cypress specific
cypress/videos/
cypress/screenshots/
cypress/fixtures/

# Dependencies
node_modules/

# Logs
*.log

# Editor directories and files
.idea
*.swp
*.swo
.vscode

# Operating System specific files
.DS_Store
Thumbs.db